.places {
    max-width: 984px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 80px;
    margin: 92px auto 0 auto;
}

@media screen and (max-width: 1080px) {
    .places {
        margin: 92px 3% 0 3%;
    }
}

@media screen and (max-width: 768px) {
    .places {
        margin: 64px 0 0 0;
    }
}