.footer__copyright {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: #FFFFFF;
    align-self: center;
}

@media screen and (max-width: 768px) {
    .footer__copyright {
        margin: 48px 0 24px 0;
        font-size: 14px;
        line-height: 1;
        align-self: flex-start;
    }
}