.lead__subtitle {
    margin: 32px auto 0 auto;
    color: #fff;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    max-width: 640px;
    text-align: center;
}

@media screen and (max-width: 834px) {
    .lead__subtitle {
        max-width: 288px;
        margin: 16px auto 0 auto;
        font-size: 16px;
        line-height: 1.25;
    }
}